@using Microsoft.AspNetCore.Identity
@model IEnumerable<Advertisement>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <p>@item.Name</p>
}